@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  color: rgb(57, 57, 57);
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 0;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

#tag-a {
  color: rgb(162, 12, 248);
  font-size: 20px;
  text-decoration: none;
  font-weight: 200;
}

#tag-a .dark {
  color: rgb(246, 169, 241);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(53, 51, 51);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: 0.3s;
  top: 5px;
  left: 5px;
  box-shadow: 
  inset 4px 4px 4px rgb(255, 255, 255),
  inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(39, 38, 38);
  transition: 0.3s;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
  color: rgb(255, 255, 255);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(205, 236, 64);
  position: absolute;
  top: 5px;
  left: 45px;
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 15px;
  margin-bottom: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(31, 30, 30);
  width: 100%;
  color: aliceblue;
}

ul {
  display: flex;
  list-style-type: none;
  width: 400px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
  cursor: pointer;
}

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.square {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

.about {
  height: 100vh;
}

.about-text {
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 35px;
  margin-left: 95px;
}

#codeplay {
  height: 350px;
  width: 600px;
  padding-top: 15px;
  margin: 15px;
}

#espoo {
  height: 350px;
  width: 500px;
  padding-top: 15px;
  margin: 15px;
}

.svgs {
  
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  
  transform: rotate(-25deg) skew(25deg);
}

.cube::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: 100px;
  bottom: 80px;
  background-image: url("../img/html-square-transp.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#html::before {
  background-color: rgb(189, 154, 221);
}

#html::after {
  background-color: rgb(205, 188, 221);
}

#css {
  left: 250px;
  bottom: 240px;
  background-image: url("../img/css-square-transp.png");
  background-size: cover;
  background-color: rgb(107, 105, 228);
  box-shadow: -100px 100px 20px rgb(50 50 50 / 15%);
}

#css::before {
  background-color: rgb(97, 95, 214);
}

#css::after {
  background-color: rgb(107, 105, 228);
}

#javascript {
  left: 450px;
  bottom: 200px;
  background-image: url("../img/javascript-square-transp.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  box-shadow: -40px 40px 20px rgb(50 50 50 / 15%);
}

#javascript::before {
  background-color: rgb(224, 248, 7);
}

#javascript::after {
  background-color: rgb(224, 248, 7);
}

#ruby {
  left: 350px;
  bottom: 40px;
  background-image: url("../img/ruby-square-transp.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 15%);
}

#ruby::before {
  background-color: rgb(202, 68, 59);
}

#ruby::after {
  background-color: rgb(202, 68, 59);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
  background-color: rgb(39, 38, 38);
  color: rgb(244, 241, 241);
  font-weight: 100;
}

.dark footer { 
  background-color: rgb(28, 28, 28);
}

/* >>>>>>>>>>>>>>>>>>>> SKILL BAR PROGRESS <<<<<<<<<<<<<<<<<<<< */

.skills-bar {
  width: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px 30px;
}

.dark .skills-bar {
  color: #fff;
  background-color: rgb(71, 71, 71);
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0;
}

/* .skills-bar .bar .info {
  margin-bottom: 5px;
} */

.skills-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgb(0, 0, 0, 0.05),
                    0px 1px rgb(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #6665ee;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line.html span {
  width: 85%;
}
.progress-line.css span {
  width: 40%;
}
.progress-line.bootstrap span {
  width: 80%;
}
.progress-line.javascript span {
  width: 50%;
}
.progress-line.postgresql span {
  width: 60%;
}
.progress-line.github span {
  width: 60%;
}
.progress-line.rspec span {
  width: 70%;
}
.progress-line.rails span {
  width: 80%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.bar .progress-line span::after {
  position: absolute;
  color: #fff;
  right: 0;
  top: -28px;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line.html span::after {
  content: "85%";
}
.progress-line.css span::after {
  content: "40%";
}
.progress-line.bootstrap span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "50%";
}
.progress-line.postgresql span::after {
  content: "60%";
}
.progress-line.github span::after {
  content: "60%";
}
.progress-line.rspec span::after {
  content: "70%";
}
.progress-line.rails span::after {
  content: "80%";
}

/* >>>>>>>>>>>>>>>>>>>> SKILL BAR PROGRESS <<<<<<<<<<<<<<<<<<<< */

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
  
  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}

/* EFEITO MÁQUINA DE ESCREVER */

#typing-phrase::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: blinking .7s infinite;
}
 
@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* EFEITO MÁQUINA DE ESCREVER */